#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_17 {
  rotation: 90.0;
  margin-left: 41px;
  margin-top: -42px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_19 {
  rotation: 90.0;
  margin-left: 41px;
  margin-top: -42px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_20 {
  rotation: 90.0;
  margin-left: 41px;
  margin-top: -42px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_18 {
  rotation: 90.0;
  margin-left: 41px;
  margin-top: -42px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_3 {
  rotation: 90.0;
  margin-left: 4px;
  margin-top: -4px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}