#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Rectangle_11 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_36 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_36 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_37 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_37 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_38 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_38 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Table_1 {
  border-collapse: separate;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_11 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_11 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_12 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_12 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_17 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_17 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_19 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_19 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_20 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_20 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_18 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_18 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_1 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_1 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_2 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_2 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_3 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Line_3 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Button {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 55px;
  width: 3px;
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Rectangle_1 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 15px 15px 15px 15px;
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Button_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #67971A;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #67971A;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #67971A;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #67971A;
  border-radius: 8px 8px 8px 8px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  height: 20px;
  width: 114px;
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Button_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FF0000;
  border-radius: 8px 8px 8px 8px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  height: 20px;
  width: 114px;
  -ms-transform: rotate(0.0deg);
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-33717aa9-8f50-4b3a-bbd9-9c18fb6806af > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}